.navScroll {
  display: flex;
  justify-content: flex-end;

  li {
    margin: 1.5rem 0 9rem 0;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    text-align: center;
    list-style: none;
    border: 0.075rem solid transparent;
  }

  li:hover {
    border: 0.075rem solid #3c3c3c;
  }
}