@import '../../scss/settings/colors';


.welcomeBox {
    align-self: flex-start;
    margin: auto 0;
    text-align: center;

    h1 {
        font-size: 3.8rem;
        font-weight: 500;
    }
}

.welcomeButtons-box {
    display: flex;
    align-items: center;
    margin-left: -2rem;
}