@import '../../scss/settings/colors';

.welcomeButtons-box {
    display: flex;
    align-items: center;
    margin-left: -20px;
}

.welcomeBox {
    align-self: flex-end;
    margin: auto 0;
    text-align: center;

    h1 {
        font-size: 3.8rem;
        font-weight: 500;
    }
}
