.aboutUs {
    display: flex;
}

.aboutUs-left,
.aboutUs-right {
    width: 50%;
}

.aboutUs-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 15rem;
    text-align: center;
    background: #F0F1F1;

    .decoration {
        margin-bottom: 6.5rem;
    }

    h2 {
        font-size: 3.8rem;
        font-weight: 500;
    }

    p {
        font-size: 3rem;
        font-weight: 300;
    }
}

.aboutUs-right {
    background-image: url("../../assets/People.jpg");
    background-repeat: no-repeat;
    height: 80rem;
}

.signature {
    align-self: flex-end;
    margin-top: 4rem;
    width: 25%;
}