.fourSteps {
    display: flex;
    flex-direction: column;
    align-items: center;

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    h2 {
        font-size: 3.8rem;
        font-weight: 500;
    }

    .decoration {
        margin-bottom: 3.5rem;
    }

    .bigBtn {
        margin: 2rem 0 6rem 0;
    }
}

.fourSteps-box {
    display: flex;
    justify-content: space-evenly;
    background: #F0F1F1;
    width: 100%;
    padding: 0 15rem;
}

.fourSteps-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15rem;
    text-align: center;
    margin: 7.3rem 0;

    h3 {
        font-size: 1.8rem;
    }
}