
.header {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    padding-right: 14.2rem;
    text-align: right;
    background-image: url("../../assets/Home-Hero-Image.jpg");
    background-repeat: no-repeat;
    background-position: -135% -10%;
}
